<details class="tabbed-git-gist">
  <summary>See the code</summary>

  <div x-data="{data : {files: []}, current_tab: 'benchmark.exs'}"
       x-init="data = await (await fetch('https://api.github.com/gists/{{ include.id }}')).json(); current_tab = Object.keys(data.files)[0]">
    <nav>
      <template x-for="filename in Object.keys(data.files)" x-bind:key="filename">
        <div
          class="tab"
          x-bind:class="{ 'active': current_tab === filename }"
          x-on:click.prevent="current_tab = filename; window.location.hash = filename"
          x-text="filename"
          href="#"></div>
      </template>
    </nav>

    <div class="tabs-body">
      <template x-for="filename in Object.keys(data.files)" x-bind:key="filename">
        <iframe x-show="current_tab === filename" x-bind:srcdoc="`<script src='https://gist.github.com/{{ include.id }}.js?file=${filename}'></script>`">
        </iframe>
      </template>
    </div>

  </div>

  <style>
    iframe {
      border: 0;
      width: 100%;
      height: 307px;
    }

    .tab {
      display: inline-block;
      border: 1px solid black;
      border-bottom: 0;
      background-color: white;
      padding: 0.4em;
    }
    .tab.active {
      position: relative;
      top: 1px;
      background-color: #ddd;
    }
    .tabs-body {
      background-color: #ddd;
      border: 1px solid black;
    }
  </style>
</details>
